.header-icon {
    height: 20px;
    width: 20px;
}

.sidebar-image {
    height: 50px;
    width: 50px;
}

.sidebar-icon {
    height: 20px;
    width: 20px;
}

.header-big-logo {
    height: 55px;
    width: 55px;
}

.small-profile-logo {
    height: 28px;
    width: 28px;
}

.project-icon {
    height: 20px;
    width: 20px;
}