/* CUSTOM PROPERTIES */

.custom {
    --body-text-size: 12px;
}



/*  */

* {
    margin: 0;
    padding: 0;
}

/* CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
    /* gap: 4px;  */
}

/* SIDEBAR */

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(161, 105, 189);
    color: white;
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding: 12px;
    min-height: 100vh;
    
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.sidebar-menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.sidebar-text {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.sidebar-heading-text {
    font-size: 30px;
    font-family: Helvetica, sans-serif
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
}

/* HEADER */

.header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    padding-left: 35px;
    padding-right: 60px;
    box-shadow: 0 4px 2px -2px lightgray;
    z-index: 10; 
    
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 14fr ;
    align-items: center;
}

.bar {
    background-color: lightgrey;
    height: 27px;
    width: 450px;
    border-radius: 13px;
}

.icons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
    
}

.header-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.header-greeting {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 55px 1fr;
    gap: 3px;
    margin-top: 15px;
    align-items: center;
}

    .greeting-hi-there {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 11px; 
    }

    .greeting-name {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

.header-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px; 
        
    button {
      background-color: rgb(161, 216, 211);  
      border-radius: 15px;
      border: 0px;
      height: 25px;
      width: 100px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      
    }
}

/* MAIN */

.main-content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 6fr 2fr;
    background-color: rgb(235, 235, 162);
    padding: 20px;
    
}

.main-projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 11fr;

}

.projects-title {
    
    display: grid;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    
}

.project-card {
    height: 180px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid rgb(146, 146, 0);
    display: grid;
    grid-template-rows: 3fr 1fr;

    .project-body {
        display: grid;
        grid-template-rows: 22px 1fr;
        /* align-items: center; */

        .project-title {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        .project-explanation {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: rgb(51, 51, 51);
        }
    }

    .project-icons {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
}

.main-announcements {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2fr 8fr;
    margin-left: 20px;

    .announcements-box {
        display: grid;
        padding: 20px;
        background-color: white;
        border-radius: 7px;
        align-items: center;
        
    }

    /* .announcements-box > div {
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
        
    } */

        .announcements-title {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        .announcement-title {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
        }

        .announcement-body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 9px;
            color: rgb(44, 44, 44);
        }
}



.main-trending {
    grid-column: 2/3;
    margin-left: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 2fr 20fr;

    .trending-box {
        display: grid;
        padding: 20px;
        background-color: white;
        border-radius: 7px;
        align-items: center;
        
    }

    .trending-profile {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 5fr;
    }
   
    .trending-title {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .trending-user {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    .trending-nickname {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: rgb(51, 51, 51);
    }


}


/* ICON SIZING */

.header-icon {
    height: 20px;
    width: 20px;
}

.sidebar-image {
    height: 50px;
    width: 50px;
}

.sidebar-icon {
    height: 24px;
    width: 24px;
}

.header-big-logo {
    height: 55px;
    width: 55px;
}

.small-profile-logo {
    height: 28px;
    width: 28px;
}

.project-icon {
    height: 20px;
    width: 20px;
}